.chat__body {
  padding: 20px 0;
  flex: 1 1 auto;
  border-bottom: 1px solid #f0eff5;
  max-height: calc(100vh - 165px);
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    li {
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
    }
  }

  & > div {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    &::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, .9);
    }
  }
}

.chat__message_body {
  display: flex;
  align-items: flex-end;
  word-break: break-all;
  max-width: 50%;

  &.chat__message_body_right {
    flex-direction: row-reverse;
    align-self: flex-end;
    padding-right: 10px;

    > img {
      margin: 0 0 0 16px;
    }
  }

  > img {
    width: 35px;
    height: 35px;
    margin: 0 16px 0 0;
  }
}

.chat__content {
  display: flex;
  flex-direction: column;

  &.chat__content_right {
    align-items: flex-end;
  }

  .chat__messages_container {
    border-radius: 8px;
    background-color: #7269ef;
    margin-bottom: 10px;

    .chat__messages {
      padding: 12px 20px;

      p {
        padding: 0;
        margin: 0;
      }

      .chat__messages_time {
        color: #ffffff80;
        font-size: 12px;
        margin-top: 4px;
        text-align: right;

        &.chat__messages_time_right {
          text-align: left;
        }

        > i {
          margin-right: 5px;
          vertical-align: middle !important;
        }

        > span {
          vertical-align: middle !important;
        }
      }
    }
  }

  .chat__username {

  }
}