.users__container {
  width: 100%;
  max-height: calc(100vh - 225px);
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      min-height: 50px;
      background-color: #3e4a56;
      margin: 10px 0;
      display: flex;
      align-items: center;
    }

    :last-child {
      margin: 0;
    }
  }

  > div {

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    &::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, .9);
    }
  }
}

.users__user {
  display: flex;
  align-items: center;
  padding: 0 20px;

  img {
    width: 36px;
    height: 36px;

  }

  > div {
    padding-left: 20px;
    width: 100%;
    word-break: break-all;
  }
}