.message__body {
  flex: 0 1 auto;
  padding: 25px 50px 25px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;

  > input {
    width: 90%;
    height: 40px;
    padding: 8px 16px;
    background-color: #36404a;
    border: none;
    border-radius: 6px;
    color: #a6b0cf;

    &:focus {
      border: none;
    }
  }

  > button {
    border-radius: 35px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 11px 40px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(1px);
    }
  }
}